EsercizioKart/Library
EsercizioKart/Temp
EsercizioKart/.vs/EsercizioKart/FileContentIndex/b8b85184-50dd-42c9-a1e3-9eb1c3f827a2.vsidx
EsercizioKart/.vs/EsercizioKart/FileContentIndex/cd22ee8c-4222-43bd-b835-51966725c607.vsidx
EsercizioKart/.vs/EsercizioKart/FileContentIndex/83e8fa34-6ae2-4dbd-bcd4-a7f949fa0a70.vsidx
EsercizioKart/.vs/EsercizioKart/FileContentIndex/c8fa62a5-55d5-414c-a693-ca7a0320a3e0.vsidx
EsercizioKart/.vs/EsercizioKart/FileContentIndex/14177eba-f1a5-4dbc-98c4-1fd8cb4ace45.vsidx
EsercizioKart/Assets/Samples/Splines/2.7.2/Spline Examples (requires Shader Graph package)/Scenes/Extrude Spline and Nearest Point/Spline Mesh
EsercizioKart/Assets/Samples/Splines/2.7.2/Spline Examples (requires Shader Graph package)/Scenes/Extrude Spline and Nearest Point
EsercizioKart/.vs/EsercizioKart/FileContentIndex
